.git
.gitignore

.env
**/.env
*.env
**/*.env

backend/.env
backend/*.sqlite
backend/*.db
backend/bin
backend/tmp
backend/cmd/dist

frontend/node_modules
frontend/dist
frontend/.env*
!frontend/.env.example
frontend/*.local

*.log